body {
  background-color: #c9ffca;
}
h1 {
  color: blue;
}

p {
  color: green;
}

h2 {
  color: red;
}

div#main {
  background-color: #fff6e6;
  width: 75%;
}

div#title {
  text-align: center;
  font-size: 32px;
  background-color: #6a6a4f;
}

div#container {
  background-color: white;
}

div.section {
  color: white;
  background-color: black;
  font-size: 32px;
  width: 33.333%;
  float: left;
}
